{% load widget_tweaks %}


<!-- Modal Header -->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title" id="myModalLabel">
        Editar Habilidades
    </h4>
</div>

<!-- Modal Body -->
<div class="modal-body">

    <form role="form" method="post" action="{% url 'skillsform' %}" novalidate>
        {% csrf_token %}
        <div class="form-group">
            <span class="formgrouptitle">Habilidades Organizacionais</span>
            {% render_field form.organisationalskills class="form-control" value=pessoa.organisationalskills %}
        </div>
        <!-- /.skill-progress -->

        <div class="form-group">
            <span class="formgrouptitle">Habilidades Comunicacionais</span>
            {% render_field form.communicationalskills class="form-control" value=pessoa.communicationalskills %}
        </div>
        <div class="form-group">
            <span class="formgrouptitle">Gerenciamento de Projetos</span>

            {% render_field form.projectmanagmentskills class="form-control" value=pessoa.projectmanagmentskills %}
        </div>
        <div class="form-group" align = "right">
            <button id="btn_skillsave" type="submit" class="btn btn-primary">Salvar</button>
            <button id="btn_skillclose" type="button" class="btn btn-default" data-dismiss="modal" style="padding-top: 10px">Close</button>
        </div>
    </form>

</div>
